* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Schoolbell', cursive;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url('./assets/background.avif');
  background-position: top center;
  background-size: cover;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

p {
  font-size: .8rem;
}

.restart {
  cursor: pointer;
  width: 2rem;
}

.square {
  width: 120px;
  aspect-ratio: 1/1;
  font-size: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
}

.status {
  font-size: 2rem;
}

.alert {
  font-size: 2.5rem;
  animation: 1s pulse infinite
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}


.row {
  display: flex;
  flex-wrap: wrap;
  height: 120px;
  width: 360px;
}

.x {
  width: 100%;
  height: 100%;
  stroke-dasharray: 209;
  animation: .3s fillSvg linear;
  background-color: transparent;
}

@keyframes fillSvg {
  0% {
    stroke-dashoffset: 209;
  }

  100% {
    stroke-dashoffset: 0;
  }
}



.o {
  width: 100%;
  height: 100%;
  stroke-dasharray: 178;
  animation: .3s fillSvg2 linear;
  background-color: transparent;
}

@keyframes fillSvg2 {
  0% {
    stroke-dashoffset: 178;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.board {
  position: absolute;
  top: 55%;
  left: -10px;
  transform: translateY(-50%);
  width: 360;
  height: 360;
  stroke-dasharray: 490;
  animation: .3s fillSvg3 linear;
  background-color: transparent;
}

@keyframes fillSvg3 {
  0% {
    stroke-dashoffset: 490;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.board-wrapper {
  width: 360px;
  height: 360px;
  position: relative;

}

.back-board {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 360px;
  height: 360px;
}

/*WINNING LINES*/

.diag-2 {
  position: relative;
  top: -50px;
  stroke-dasharray: 570;
  animation: .3s fillDiagonal linear;


}

.diag-1 {
  position: relative;
  top: 0px;
  stroke-dasharray: 570;
  animation: .3s fillDiagonal linear;


}

.vert-1 {
  position: relative;
  right: 30px;
  stroke-dasharray: 420;
  animation: .3s fillHorizontal linear;

}

.vert-2 {
  position: relative;
  left: 100px;
  stroke-dasharray: 420;
  animation: .3s fillHorizontal linear;

}

.vert-3 {
  position: relative;
  left: 230px;
  stroke-dasharray: 420;
  animation: .3s fillHorizontal linear;

}

.hor-1 {
  position: relative;
  left: -20px;
  stroke-dasharray: 420;
  animation: .3s fillHorizontal linear;

}

.hor-2 {
  position: relative;
  left: -20px;
  top: 110px;
  stroke-dasharray: 420;
  animation: .3s fillHorizontal linear;

}

.hor-3 {
  position: relative;
  left: -20px;
  top: 220px;
  stroke-dasharray: 420;
  animation: .3s fillHorizontal linear;

}

@keyframes fillHorizontal {
  0% {
    stroke-dashoffset: 420;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fillDiagonal {
  0% {
    stroke-dashoffset: 570;
  }

  100% {
    stroke-dashoffset: 0;
  }
}